third_party/
**/build/
**/build-*/
*.o
*.a
*.so
*.bin
*.model

python_prototype/__pycache__/

# demo
/CppAIService
todo.md


model
llama-engine/build/
llama-engine/third_party/
llama-engine/test/*.bin

docs
plan.md